.center {
    text-align: center;
    border: 4px solid darkblue;
}

.spacing-coloring {
    margin-top: 40px;
    border-radius: 25px;
    background-color: cornflowerblue;
}

.fontsizing {
    font-size: 14px;
}

.other-spacing {
    width: 500px;
    margin-left: 30%;
}

.border {
    border: 4px solid darkblue;
}
