.center {
    text-align: center;
    border: 4px solid darkblue;
}

.spacing-coloring {
    margin-top: 40px;
    border-radius: 25px;
    background-color: cornflowerblue;
}

.fontsizing {
    font-size: 14px;
}

.other-spacing {
    width: 500px;
    margin-left: 30%;
}

.border {
    border: 4px solid darkblue;
}

.card-title-font-sizing1 {
    font-size: 14px;
}

.card-text-font-sizing1 {
    font-size: 8.5px;
}

.card-title-font-sizing2 {
    font-size: 19px;
}

.card-text-font-sizing2 {
    font-size: 13px;
}